<!DOCTYPE html>
<html>
<head>
    <title>VibeSync</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>🎧 VibeSync</h1>

    <h2>Choose Your Vibe</h2>
    <button onclick="playSound('chill')">Chill 🌿</button>
    <button onclick="playSound('energy')">Energy ⚡</button>
    <button onclick="playSound('spirit lifter')">spirit lifter ⚡🌿</button>

    <h2>Chat with VibeBot 🤖</h2>

    <div id="chatbox"></div>

    <input type="text" id="userInput" placeholder="Type something...">
    <button onclick="sendMessage()">Send</button>

</div>

<script src="/static/script.js"></script>

</body>
</html>